@model ResursGAP.Models.Order

<h2>Подробности о Заказе</h2>

<p>Город отправления: @Model.SenderCity</p>
<p>Город прибытия: @Model.ReceiverCity</p>
<p>Адресс прибытия: @Model.ReceiverAddress</p>
<!--<p>Машина: Model.Truck.TruckId</p>-->
<p>Маccа груза: @Model.Weight тонн</p>
<p>Дата отправления: @Model.DeliveryDate.ToShortDateString()</p>
<p>Стоимость доставки: @Model.DeliveryCost</p>
    