@model IEnumerable<ResursGAP.Models.Order>
<body>
<h2>Список заказов</h2>

    
    <script src="~/js/site.js" async></script>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Город отправителя</th>
            <th>Город получателя</th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.SenderCity</td>
                <td>@item.ReceiverCity</td>
                
                <td>
                        <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-hover-blue">Подробности</a>
                </td>
                <td>
                    <a asp-controller="Order" asp-action="Delete" asp-route-orderId="@item.OrderId" class="btn btn-danger" 
                    data-confirm="Вы уверены, что хотите удалить этот заказ?">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 </body>
